<ion-view view-title="{{title}}">
  <ion-content>
    <center>
    	<h1>About Us</h1>
    </center>
    <div class="list card">
    	<div class="item item-divider">
    		<center>
    			<h2>Q-Venient</h2>
    			<h2>The Team</h2>
    		</center>
    	</div>
    	<div class="item item-text-wrap">
	    	<div class="item item-avatar">
	    		<img src="img/kiddie.jpg">
	    		<h2>Jerome Pacana</h2>
	    		<h2>The Designer/Developer</h2>
	    	</div>
	    	<div class="item item-avatar">
	    		<img src="img/jarc.jpg">
	    		<h2>John Alfred Catampo</h2>
	    		<h2>The Developer/Designer</h2>
	    	</div>
	    	<div class="item item-avatar">
	    		<img src="img/john.jpg">
	    		<h2>John Webster Ceballos</h2>
	    		<h2>The System Analyst/Team Leader</h2>
	    	</div>
	    	<div class="item item-avatar">
	    		<img src="img/larry.jpg">
	    		<h2>Larry Paul Lague</h2>
	    		<h2>The Hardware Specialist/Mobile Technology Specialist</h2>
	    	</div>
    	</div>
    </div>
    <footer>
    	<center>All Rights Reserved 2015</center>
    </footer>
  </ion-content>
</ion-view>
