<ion-view view-title="{{title}}">
  <ion-content>
  	<div class="card">
  		<center>
  			<div class="item item-text-wrap">
  				<h3>Please enter your mobile #</h3>		
  				<h3>to get priority number</h3>	
  				<div class="list">
	  				<label class="item item-input item-stacked-label">
					    <span class="input-label">Mobile Number</span>
					    	<input type="text" placeholder="ex. 09055927698" ng-model="queue.number">
				  </label>
				</div>	
  			</div>
  		</center>
  	</div>
  		<div class="card">
	  		<div class="item item-text-wrap">
	  			<button class="button button-block button-calm" ng-click="next()">Queue</button>
	  		</div>
	  	</div>
  	<footer>
		<div class="card">
		  <div class="item item-body">
		    <div class="ads">
				<h2 class="ads-pos">
					<img class="full-image" src="img/ads1.jpg" width="auto" height="403px"></h2>    	
			</div>
		  </div>
		</div>
	</footer>
  </ion-content>
</ion-view> 