<ion-view view-title="{{title}}">
  <ion-content>
    <h2>Home</h2><br>
	 
	 <div class="card">
	 	<div class="item item-divider">
	 		Note To Q-Venient
	 	</div>
		  <div class="item item-text-wrap">
		    Welcome To Q-Venient Mobile Application. Feel free to use this app. To start with this app, click the menu icon on the upper left side and you will see three buttons. Click "Login" to login your account and to start your queue.
		  </div>
		  <div class="item item-divider">
		  	........
		  </div>
	 </div>
	 <br>
	<footer>
		<div class="card">
		  <div class="item item-body">
		    <div class="ads">
				<h2 class="ads-pos">
					<img class="full-image" src="img/header.jpg" width="auto" height="403px"></h2>    	
			</div>
		  </div>
		</div>
	</footer>	
  </ion-content>
</ion-view>
