 <ion-view view-title="{{title}}">
  <ion-content>
	  <div class="card">
		  	<div class="item item-divider">
		  		<center>
			  		<h3>Estimated Time:</h3>
			  		<h4>23:00 minutes</h4>
		  		</center>
		  	</div>
		  	<div class="item item-text-wrap">
		  		<center>
		  			<h3>Your Priority Number:</h3>
		  			<h4>00050</h4>
		  		</center>
		  	</div>
		  	<div class="item item-divider">
		  		<center>
		  			<h3>Person In Queue</h3>
		  			<h4>30</h4>
		  		</center>
		  	</div>
	  	</div>
	  	<hr>
	<div class="card">
		<div class="item item-divider">
			<center>
				<h3>Current Number</h3>
				<h4>27</h4>
			</center>
		</div>
		<div class="item item-divider">
			<center>
				<h3>Window</h3>
				<h4>1</h4>
			</center>
		</div>
		<center>
			<button class="button button-block button-assertive">Cancel Request</button>
		</center>
	</div>
	<footer>
		<div class="card">
		  <div class="item item-body">
		    <div class="ads">
				<h2 class="ads-pos">
					<img class="full-image" src="img/ads1.jpg" width="auto" height="403px"></h2>    	
			</div>
		  </div>
		</div>
	</footer>
  </ion-content>
</ion-view>  