<ion-view view-title="{{title}}">
  <ion-content>
  <div class="bar bar-header bar-balanced">
    <h1 class="title">Login Account</h1>
  </div>
  <br><br><br>
    <form name="loginForm" novalidate>
      <div class="list">
        <label class="item item-input">
          <i class="icon ion-ios-person placeholder-icon"></i>
          <input type="text" placeholder="Username" ng-model="loginData.username" ng-minlength="5" required>
        </label>
        <label class="item item-input">
          <i class="icon ion-unlocked placeholder-icon"></i>
          <input type="password" placeholder="Password" ng-model="loginData.password" ng-minlength="5" required>
        </label>
        <label class="item">
            <button class="button icon-left ion-locked button-block button-positive" ng-disabled="loginForm.$invalid" ng-click="doLogin()">Enter</button>   
          </label>
      </div>
     </form> 
    <a href="#/signup">No Account??</a>
  </ion-content>
</ion-view>
