<ion-view view-title="{{title}}">
  <ion-content>
    <form name="loginForm" novalidate>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="loginData.username" ng-minlength="5" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password" ng-minlength="6" required>
        </label>
        <label class="item">
          <button class="button button-block button-positive" ng-disabled="loginForm.$invalid" ng-click="doLogin()">Enter</button>    
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
