<ion-view view-title="{{title}}">
  <ion-content>
  <center><h2>Admin User</h2></center>
  	<div class="list card">
    	<div class="item item-divider">
    		<center>
    			<h2>Actions</h2>
    		</center>
    	</div>
    	<div class="item item-text-wrap">
    		<button class="button button-block button-balanced" ng-click="adduser()">Add User</button>
    		<button class="button button-block button-calm" ng-click="viewUsers()">View All Users</button>
    	</div>
    	<div class="item item-divider">
    		<center>
    			<h2>.......</h2>
    		</center>
    	</div>
    </div>
    <div>
        
    </div>
    <div class="item item-text-wrap">
        <p>
            Note: This is admin page. No one is allowed here except for an admin user.
        </p>
    </div>
    <div class="item item-divider">
        <h2></h2>
    </div><br>
    <footer>
    	<center>All Rights Reserved 2015</center>
    </footer>
  </ion-content>
</ion-view>
