<ion-view view-title="{{title}}">
  <ion-content>
	<center>
    	<h1>View</h1>
    </center>
    <div class="list card">
    	<div class="item item-divider">
    		<center>
    			<h2>All Users</h2>
    		</center>
    	</div>
    	<div class="item item-text-wrap">
	    	<div class="item">
	    		<h3 class="order">{{firstname}} {{lastname}}</h3>
	    		<h3 class="order">{{email}}</h3>
	    		<h3 class="order">{{age}}</h3>
	    	</div>
    	</div>
   	</div>
   	<footer>
    	<center>All Rights Reserved 2015</center>
    </footer>
  </ion-content>
</ion-view>   	 	