<ion-view view-title="{{title}}">
  <ion-content>
	<center>
    	<h1>View</h1>
    </center>
    <div class="list card">
    	<div class="item item-divider">
    		<center>
    			<h2>{{user.firstname}}</h2>
    		</center>
    	</div>
    	<div class="item item-text-wrap">
         <i class="icon ion-person"></i> {{user.firstname}} {{user.lastname}}
      </div>
      <div class="item item-text-wrap">
        <i class="icon ion-at"></i> {{user.email}}
      </div>
      <div class="item item-text-wrap">
        <i class="icon ion-arrow-right-a"></i> {{user.age}}
      </div>
   	</div>
   	<footer>
    	<center>All Rights Reserved 2015</center>
    </footer>
  </ion-content>
</ion-view>   	 	