<ion-view view-title="{{title}}">
  <ion-content>
    <center>
    	<h1>About Us</h1>
    </center>
    <div class="list card">
    	<div class="item item-divider">
    		<center>
    			<h2>Q-Venient</h2>
    			<h2>The Team</h2>
    		</center>
    	</div>
    	<div class="item item-text-wrap" ng-repeat="developer in developers">
	    	<div class="item item-avatar">
	    		<img src="img/kiddie.jpg">
	    		<h2>{{developer.firstname}} {{developer.lastname}}</h2>
	    		<h2>{{developer.position}}</h2>
	    	</div>
    	</div>
    </div>
    <footer>
    	<center>All Rights Reserved 2015</center>
    </footer>
  </ion-content>
</ion-view>
