<ion-view view-title="{{title}}">
  <ion-content>
  	<div class="list card">
    	<div class="item item-divider">
    		<center>
    			<h2>My Profile</h2>
    		</center>
    	</div>
	    	<div class="item item-text-wrap">
		    		<div class="item"><h2>Jerome Pacana</h2></div>
		    		<div class="item"><h2>Lapasan</h2></div>
		    		<div class="item"><h2>20</h2></div>
		    		<div class="item"><h2>kidskidspacana@yahoo.com</h2></div>
		    	</div>
	    	</div>
	    	<div class="item item-divider">
	    		<button class="button button-block button-positive" ng-click="updates()">Update Profile</button>
	    	</div>
  </ion-content>
</ion-view> 