<ion-view view-title="{{title}}">
  <ion-content>
	</div>
		<div class="list list-inset">
		  <label class="item item-input">
		    <input type="text" placeholder="First Name">
		  </label>
		  <label class="item item-input">
		    <input type="text" placeholder="Last Name">
		  </label>
		  <label class="item item-input">
		    <input type="email" placeholder="Email">
		  </label>
		  <label class="item item-input">
		    <input type="number" placeholder="Age">
		  </label>
		  <label class="item item-input">
		    <input type="text" placeholder="User Name">
		  </label>
		  <label class="item item-input">
		    <input type="password" placeholder="Password">
		  </label>
		</div>
		<button class="button icon ion-person-add button-block button-calm">Update Account</button>
  </ion-content>
</ion-view>